<div class = "pb-3">
  <h1>Places</h1>
</div>

<% if @current_user %>
   <a href="/places/new" class="btn btn-outline-primary btn-lg shadow p-3 mb-5 rounded">New Place</a>
   <% else %>
 <% end %>

<ul>
  <% for place in @places %>
    <!--li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li-->
    <div class="list-group list-group-flush">
    <a href="/places/<%= place["id"] %>" class="list-group-item list-group-item-action"><%= place["name"] %></a>
  <% end %>
</ul>

<!--a href="/places/new" class="btn btn-outline-primary btn-lg ">New Place</a>
<!--<a href="/places/new" class="btn btn-secondary btn-lg box-shadow--16dp">New Place</a>-->
<!--<p>
  <a href="/places/new">New place</a>
</p>-->